/* <!-- Demo styles --> */
/* #region globais */
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.otf');
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #03020b;
    font-family: 'Poppins';
}

h1,
h2 {
    color: white;
}

body {
    font-size: 14px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide p {
    position: absolute;
    bottom: 5px;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    color: #40E0D0;
}

p {
    font-size: 20px;
}

/* #endregion globais */

/*#region head */
.btnMenu {
    font-size: 50px;
    padding: 10px;
    color: white;
    /* display: none; */
}

.btnMenu:hover {
    color: #008B8B;
    transition: .3s;
    /* display: none; */
}

/* header */
.menu {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 100;
}

.logo {
    width: 50%;
    height: 80px;
    line-height: 80px;
    display: flex;
}

.logo i {
    font-size: 300px;
}

/* navbar */
.navbar {
    height: 70px;
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    align-items: center;
}

.navbar li {
    padding: 0 5px;
}

.navbar button {
    padding: 10px 25px;
    border: none;
    margin-left: 10px;
    background-color: #008B8B;
    transition: .3s;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.navbar button:hover {
    background-color: #40E0D0;
    transition: .3s;
}

.navbar li a {
    height: 70px;
    line-height: 70px;
    padding: 10px 20px;
    color: aliceblue;
    font-size: 25px;
}

.navbar li a:hover:not(.sub a:hover) {
    background-color: #40E0D0;
}

/*#endregion head */



/*#region footer */
footer {
    width: 100%;
    height: auto;
    background-color: #03020b;
    padding: 50px 0;
}

.footerC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: .9;
}

.footerC ul li {
    height: 30px;
    line-height: 30px;
    opacity: .8;
    transition: .3s;
    color: white;
}

.footerC ul li:hover {
    opacity: 1;
    transition: .3s;
}

.footerC h5 {
    color: white;

}

/*#endregion footer */